<div class="input-group" style="width: 50%;">
  <span style="
  color: black;
  font-weight: 600;
  position: relative;
  top: 6px;">Search By Group :&nbsp;&nbsp;&nbsp;</span>
  <select aria-label="Example select with button addon" id="GroupIddd" #GroupIdd class="form-select"  (change)="GetChartAccGroup(GroupIdd.value)">
    <option value="0" >All Groups</option>
    <option [value]="grp.id" *ngFor="let grp of groups;">{{grp.groupName}}</option>
  </select>
</div>

<ngx-charts-advanced-pie-chart

      [results]="saleData"

      [gradient]="true" 
      [legend]="true"

    [legendTitle]="'Product Sale Report'"

    [view]="[1000,300]" 
    [labels]="true">

</ngx-charts-advanced-pie-chart>
