
<div class="input-group" style="width: 50%;">
    <span style="
    color: black;
    font-weight: 600;
    position: relative;
    top: 6px;">Search By Year :&nbsp;&nbsp;&nbsp;</span>

  <!-- <input type="month" id="start" name="start" class="group" > -->

  <input type="number" placeholder="YYYY" min="2017" max="2100" [(ngModel)]="year">
  <button class="btn btn-primary" (click)="searchYear()">Apply</button>

  </div>

<ngx-charts-bar-vertical-stacked
[view]="view"
[results]="multi"
[gradient]="gradient"
[xAxis]="showXAxis"
[yAxis]="showYAxis"
[legend]="showLegend"
[showXAxisLabel]="showXAxisLabel"
[showYAxisLabel]="showYAxisLabel"
[xAxisLabel]="xAxisLabel"
[yAxisLabel]="yAxisLabel"
[animations]="animations"
(select)="onSelect($event)">
</ngx-charts-bar-vertical-stacked>